//	Variables

$time: .3s;

$basefont_color: #212121;
$bluefont:#477fb3;
$greyfont:#a7a7a7;

$red_color:#da192c;

$greybg_color:#f4f4f4;


$font: 'Arimo', sans-serif;
// $font: 'Code-Light', sans-serif;
$proximaReg:'ProximaReg', sans-serif;
$proximaBold:'ProximaBold', sans-serif;
