.brend_page{
	position: relative;
	.brend-link{
		background-repeat: no-repeat;
		background-attachment: fixed;
		@extend %fullsize;
		display: block;
	}

	.maincontainer{
//		margin-top: 100px;
	}






}
.brend-part{
	position: relative;
	height: 100px;
	width: 1400px;
	margin: auto;
	a{
		@extend %fullsize;
	}
}
.mainheader-bottom, .head-search-form{
	margin: auto;
	width: 100%;
}
.head-search-form{
	left: 0;
	right: 0;
	max-width: 1400px;
}
